---
import { type Post } from "@/utils/content";
import SectionHeader from "@/components/SectionHeader.astro";
import PostTitle from "@/components/content/PostTitle.astro";
import PostMeta from "./PostMeta.astro";

type Props = {
  posts: Post[];
  sectionTitle?: string;
  sectionDesc?: string;
};

const {
  posts,
  sectionTitle,
  sectionDesc,
} = Astro.props;

---
<section class="my-2 md:my-4 py-4">
  <SectionHeader title={sectionTitle} subheading={sectionDesc} />
  <div class="flex flex-col space-y-4 mt-4">
    {posts.map((post) => (
      <div class="flex flex-col space-y-3 py-4 first:pt-0 border-b last:border-0 border-border/50 group hover:translate-x-2 transition-transform ease-fluid">
        <PostTitle post={post} 
          class="text-base md:text-xl font-medium text-balance leading-snug link-hover"/>
        {post.data.description && (
          <p class="text-sm italic leading-normal text-muted-foreground md:max-w-xl">
            {post.data.description}
          </p>
        )}
        <div class="post-meta flex flex-row items-baseline gap-2 text-xs font-ui text-muted-foreground">
          <PostMeta post={post} showReadingTime />
        </div>
      </div>
    ))}
  </div>

  <a href="/archive" class="group inline-cta text-muted-foreground hover:text-foreground">
    <span class="inline-cta-line group-hover:w-16"></span>
    Browse archive
  </a>
</section>
